*{
    color: white;
    text-align: center;
    font-family: sans-serif;
}
body{
    background-color: rgb(60, 60, 60);
    margin: 0;
}
img{
    width: 12%;
    margin: 1.5%;
    border: white solid 0.25vw;
}
h1{
    font-size: 3rem;
    margin-top: 5%;
}
h2{
    font-size: 2rem;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: white;
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: black;
    font-size: 2rem;
    text-decoration: none;
    padding: 2%;
}
#button-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.button{
    color: black;
    padding: 2%;
    font-size: 2rem;
    font-weight: bold;
    background-color: white;
    border-radius: 1vw;
    margin: 1%;
}
#img3{
    width: 22%;
}
b{
    background-color: orange;
    padding: 1.5%;
    color: black;
    margin: 1%;
    border-radius: 2vw;
}
@media screen and (max-width: 800px){
    #images{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    img{
        width: 30%;
    }
    #img3{
        width: 40%;
    }
    .box{
        flex-direction: column;
    }
    .box img{
        width: 45%;
    }
}